<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">{{ title }}</h5>
    <form [formGroup]="form">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome*</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          formControlName="nome"
        />
      </div>

      <div class="mb-3">
        <label for="cpf" class="form-label">CPF*</label>
        <input
          type="text"
          class="form-control"
          id="cpf"
          formControlName="cpf"
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email*</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>

      <div class="mb-3">
        <label for="obs" class="form-label">Observações</label>
        <input
          type="text"
          class="form-control"
          id="obs"
          formControlName="observacoes"
        />
      </div>

      <button type="submit" class="btn btn-success" (click)="onSubmit()">
        Enviar
        <div
          class="spinner-border spinner-border-sm"
          role="status"
          *ngIf="loading"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>

      <button type="submit" class="btn btn-danger mx-2" (click)="fecharModal()">
        Sair
      </button>
    </form>
  </div>
</div>
