<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">{{ title }}</h5>
    <form [formGroup]="form">
      <div class="mb-3" *ngIf="title === 'Editar'">
        <label for="cliente" class="form-label">Cliente*</label>
        <input
          type="text"
          class="form-select"
          aria-label="Default select example"
          id="cliente"
          formControlName="cliente"
          placeholder="Selecionar Cliente"
        />
      </div>
      <div class="mb-3" *ngIf="title === 'Cadastrar Conta'">
        <select class="form-select" id="cliente" formControlName="cliente">
          <option value="" disabled selected hidden>Selecionar Cliente</option>
          <option *ngFor="let cliente of clienteList" [ngValue]="cliente?.nome">
            {{ cliente?.nome }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="agencia" class="form-label">Agencia*</label>
        <input
          type="number"
          class="form-control"
          id="agencia"
          formControlName="agencia"
        />
      </div>

      <div class="mb-3">
        <label for="numero" class="form-label">Numero da Conta*</label>
        <input
          type="text"
          class="form-control"
          id="numero"
          formControlName="numero"
        />
      </div>

      <div class="mb-3">
        <label for="saldo" class="form-label">Saldo</label>
        <input
          type="number"
          class="form-control"
          id="saldo"
          formControlName="saldo"
        />
      </div>

      <button
        type="submit"
        class="btn btn-success"
        (click)="buscarClientePorNome()"
      >
        Enviar
        <div
          class="spinner-border spinner-border-sm"
          role="status"
          *ngIf="loading"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
      <button type="submit" class="btn btn-danger mx-2" (click)="fecharModal()">
        Sair
      </button>
    </form>
  </div>
</div>
