table th,
td {
  text-align: center;
}

.card {
  width: 1100px !important;
  margin-left: 2.8rem;
}

.buttons {
  margin-left: 2rem !important;
}

.spinner-align {
  display: block;
  position: fixed;
  top: 50%;
  right: 42%;
}

.date {
  height: -10px;
}
