<div class="row m-4">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header bg-dark py-3">
        <h4 class="my-0 fw-normal text-white">Clientes</h4>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem ducimus harum eveniet facere at itaque numquam debitis
          nostrum hic incidunt.
        </p>
        <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/clientes"
          >Acesso aos clientes</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header bg-dark py-3">
        <h4 class="my-0 fw-normal text-white">Contas</h4>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem ducimus harum eveniet facere at itaque numquam debitis
          nostrum hic incidunt.
        </p>
        <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/contas"
          >Acesso as Contas</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header bg-dark py-3">
        <h4 class="my-0 fw-normal text-white">Operações</h4>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem ducimus harum eveniet facere at itaque numquam debitis
          nostrum hic incidunt.
        </p>
        <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/operacoes"
          >Acesso as Operações</a
        >
      </div>
    </div>
  </div>
</div>
