<!-- Page content -->
<div class="container">
  <div class="row justify-content-center">
    <div class="card shadow border-0">
      <div class="card-body px-lg-8 py-lg-6">
        <div class="text-center text-muted mb-4">
          <img class="processo-logo" src="assets/processo.png" alt="logo" />
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-circle-08"></i
                ></span>
              </div>
              <input
                type="text"
                formControlName="email"
                name="email"
                class="form-control pl-2"
                nbInput
                fullWidth
                placeholder="Email"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-lock-circle-open"></i
                ></span>
              </div>
              <input
                type="password"
                formControlName="password"
                name="password"
                class="form-control pl-2"
                nbInput
                fullWidth
                placeholder="Senha"
              />
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-theme my-4">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
