form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;
}

.card-tam {
  left: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200;
}
